.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 165px;
    width: 600px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: bolder;
    border: none;
    position: relative;
}
@media screen and (max-width: 600px) {
    .item{
        width: 300px;
    }


  }